/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/* Helpers */
.verticle-middle-children > * {
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.space-children > * {
  margin-right: 1rem;
}
.text-center {
  text-align: center;
}


@media screen and (max-width: 600px) {
	.hide-mobile {
		display: none;
	}	
}

/* Overrides */
.enlighter-default {
	padding: 20px;
}

/* Home */
.w-grid-item.post-403 a,
.w-grid-item.post-403 img {
	display: inline-block;
	width: 100%;
}